/* 深紫 */
[data-theme="deepPurple"]{
    --background-color0:#534668;
    --background-color1:#7a5f7e;
    --background-color2:#6e507c;
    --background-color3:#e5e2e5;
    --backround-color4:#1f1f1f;
    --backround-color5:#fff;
    --text-color1:#fff;
    --text-color2:#534668;
    --text-color3:#7a5f7e;
    --border-color1:#6e507c;
    --el-button-bg-color:#b285b6;
}
:root [data-theme="deepPurple"]{
    --el-color-white: #ffffff;
    --el-color-black: #000000;
    --el-color-primary: #534668;
    --el-color-primary-light-3:#7a5f7e;
    --el-color-primary-light-5:#6e507c;
    --el-color-primary-light-7:#b285b6;
    --el-color-primary-light-8: #d18cf1;
    --el-color-primary-light-9: #e36ffa;
    --el-color-primary-dark-2: #534668;
    --el-color-success: #67c23a;
    --el-color-success-light-3: #95d475;
    --el-color-success-light-5: #b3e19d;
    --el-color-success-light-7: #d1edc4;
    --el-color-success-light-8: #e1f3d8;
    --el-color-success-light-9: #f0f9eb;
    --el-color-success-dark-2: #529b2e;
    --el-color-warning: #e6a23c;
    --el-color-warning-light-3: #eebe77;
    --el-color-warning-light-5: #f3d19e;
    --el-color-warning-light-7: #f8e3c5;
    --el-color-warning-light-8: #faecd8;
    --el-color-warning-light-9: #fdf6ec;
    --el-color-warning-dark-2: #b88230;
    --el-color-danger: #f56c6c;
    --el-color-danger-light-3: #f89898;
    --el-color-danger-light-5: #fab6b6;
    --el-color-danger-light-7: #fcd3d3;
    --el-color-danger-light-8: #fde2e2;
    --el-color-danger-light-9: #fef0f0;
    --el-color-danger-dark-2: #c45656;
    --el-color-error: #f56c6c;
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-info: #909399;
    --el-color-info-light-3: #b1b3b8;
    --el-color-info-light-5: #c8c9cc;
    --el-color-info-light-7: #dedfe0;
    --el-color-info-light-8: #e9e9eb;
    --el-color-info-light-9: #f4f4f5;
    --el-color-info-dark-2: #73767a;
    --el-bg-color: #ffffff;
    --el-bg-color-page: #f2f3f5;
    --el-bg-color-overlay: #ffffff;
    --el-text-color-primary: #303133;
    --el-text-color-regular: #606266;
    --el-text-color-secondary: #909399;
    --el-text-color-placeholder: #a8abb2;
    --el-text-color-disabled: #c0c4cc;
    --el-border-color: #dcdfe6;
    --el-border-color-light: #e4e7ed;
    --el-border-color-lighter: #ebeef5;
    --el-border-color-extra-light: #f2f6fc;
    --el-border-color-dark: #d4d7de;
    --el-border-color-darker: #cdd0d6;
    --el-fill-color: #f0f2f5;
    --el-fill-color-light: #f5f7fa;
    --el-fill-color-lighter: #fafafa;
    --el-fill-color-extra-light: #fafcff;
    --el-fill-color-dark: #ebedf0;
    --el-fill-color-darker: #e6e8eb;
    --el-fill-color-blank: #ffffff;
}

:root [data-theme="deepBlue"]{
    --vxe-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    --vxe-font-size: 14px;
    --vxe-font-size-medium: 14px;
    --vxe-font-size-small: 13px;
    --vxe-font-size-mini: 12px;
    --vxe-border-radius: 4px;
    --vxe-icon-font-family: Verdana,Arial,Tahoma;
    --vxe-icon-background-color: #fff;
    --vxe-font-color: #606266;
    --vxe-primary-color: #534668;
    --vxe-success-color: #67c23a;
    --vxe-info-color: #909399;
    --vxe-warning-color: #e6a23c;
    --vxe-danger-color: #f56c6c;
    --vxe-font-lighten-color: #797b80;
    --vxe-primary-lighten-color: #7a5f7e;
    --vxe-success-lighten-color: #85cf60;
    --vxe-info-lighten-color: #abadb1;
    --vxe-warning-lighten-color: #ecb869;
    --vxe-danger-lighten-color: #f89c9c;
    --vxe-font-darken-color: #47494c;
    --vxe-primary-darken-color: #6e507c;
    --vxe-success-darken-color: #529b2e;
    --vxe-info-darken-color: #767980;
    --vxe-warning-darken-color: #d48a1b;
    --vxe-danger-darken-color: #f23c3c;
    --vxe-font-disabled-color: #bfbfbf;
    --vxe-primary-disabled-color: #b285b6;
    --vxe-success-disabled-color: #a3db87;
    --vxe-info-disabled-color: #c5c7ca;
    --vxe-warning-disabled-color: #f2cd96;
    --vxe-danger-disabled-color: #fbcccc;
    --vxe-input-border-color: #dcdfe6;
    --vxe-input-disabled-color: #dcdfe6;
    --vxe-input-disabled-background-color: #f3f3f3;
    --vxe-input-placeholder-color: #c0c4cc;
    --vxe-table-popup-border-color: #dadce0;
    --vxe-table-header-font-color: #606266;
    --vxe-table-footer-font-color: #606266;
    --vxe-table-border-radius: 4px;
    --vxe-table-border-width: 1px;
    --vxe-table-border-color: #e8eaec;
    --vxe-table-resizable-line-color: #d9dddf;
    --vxe-table-resizable-drag-line-color: #7a5f7e;
    --vxe-table-header-background-color: #f8f8f9;
    --vxe-table-body-background-color: #fff;
    --vxe-table-footer-background-color: #fff;
    --vxe-table-tree-node-line-color: #909399;
    --vxe-table-tree-node-line-style: dotted;
    --vxe-table-header-font-weight: 700;
}