.body{
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -ms-user-select: none;
}
.box {
  position: relative;
}
.box .brochureHeader {
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: var(--background-color1);
  display: flex;
}
.box .brochureHeader .logo {
  height: 100px;
  padding: 10px;
  background: #fff;
}
.box .brochureHeader .headerTitle {
  display: flex;
}
.box .brochureHeader .headerTitle li {
  font-size: 24px;
  margin-right: 50px;
  margin-left: 50px;
  line-height: 100px;
}
.modeBox {
  height: 100%;
  background: var(--backround-color5);
}
/* .el-table__fixed {
  height:auto !important; 
  bottom:17px;
} */
.el-table--scrollable-x .el-table__body-wrapper {
  z-index: 1;
}